{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facture list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomsociete</th>
                <th>Dateachat</th>
                <th>Labelarticle</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td><a href="{{ path('facture_show', { 'id': facture.id }) }}">{{ facture.id }}</a></td>
                <td>{{ facture.nomSociete }}</td>
                <td>{% if facture.dateachat %}{{ facture.dateachat|date('Y-m-d') }}{% endif %}</td>
                <td>{{ facture.labelarticle }}</td>
                <td>{{ facture.montant }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('facture_show', { 'id': facture.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('facture_edit', { 'id': facture.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('facture_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
